@using Pharmaweb.Extensions;
@using Pharmaweb.Models;
@model Pharmaweb.Models.IngresoProductoModels


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">Eliminar</h4>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.IngresoProductoId)

    <div class="modal-body">
        <div class="form-horizontal">
            
            <div class="form-group">
                @Html.LabelFor(m => Model.SucursalId, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.DropDownListFor(m => m.SucursalId, Model.lstSucursal, new { @class = "form-control required", @disabled = "disabled" })
                    <div>
                        @Html.ValidationMessageFor(m => m.SucursalId)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => Model.CatTipoIngreso, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.DropDownListFor(m => m.CatTipoIngreso, Model.lstCatTipoIngreso, "-- Seleccionar --", new { @class = "form-control required", @disabled = "disabled" })
                    <div>
                        @Html.ValidationMessageFor(m => m.CatTipoIngreso)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => Model.NroFactura, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.NroFactura, new { @class = "form-control required", @disabled = "disabled" })
                    <div>
                        @Html.ValidationMessageFor(m => m.NroFactura)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => Model.Observacion, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Observacion, new { @class = "form-control required", @disabled = "disabled" })
                    <div>
                        @Html.ValidationMessageFor(m => m.Observacion)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => Model.LaboratorioId, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.DropDownListFor(model => model.LaboratorioId, Model.lstLaboratorio, "-- Seleccionar Lab. --", new { @class = "form-control required", @disabled = "disabled" })
                    <div>
                        @Html.ValidationMessageFor(m => m.LaboratorioId)
                    </div>
                </div>
            </div>

            <div>
                <em data-bind="validationMessage: detalle"></em>
            </div>
            <div class="table-responsive">
                <div style="margin-top:17px;">
                    @{
                        WebGrid grid = new WebGrid(defaultSort: "NombreLaboratorio", ajaxUpdateContainerId: "container-grid", canPage: false, canSort: false);
                        grid.Bind(Model.Detalle, autoSortAndPage: false);
                        //grid.Pager(WebGridPagerModes.All);
                        <div id="container-grid">
                            @grid.GetHtml(htmlAttributes: new { id = "grid" },   // id for ajaxUpdateContainerId parameter
                                                            fillEmptyRows: false,
                                                            alternatingRowStyle: "alternate-row",
                                                            headerStyle: "grid-header",
                                                            footerStyle: "grid-footer",
                                                            mode: WebGridPagerModes.All,
                                                            firstText: "<< First",
                                                            previousText: "< Prev",
                                                            nextText: "Next >",
                                                            lastText: "Last >>",
                                                            tableStyle: "table table-bordered table-hover",

                                                            columns: grid.Columns(
                                                              grid.Column("NombreProducto", header: "Nombre Producto"),
                                                              grid.Column("CantidadPaquetes", header: "Cantidad de Paquetes"),
                                                              grid.Column("CantidadUnidades", header: "Cantidad de Unidades"),
                                                              grid.Column("FechaVencimiento", header: "Fecha Vencimiento", format: @<text>@item.FechaVencimiento.ToString("dd/MM/yyyy")</text>)
                                                            ))
                        </div>
                    }

                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <h3>
                        <span class="label label-danger">
                            Esta seguro de Eliminar este Registro?
                        </span>
                    </h3>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">No</button>
        <input class="btn btn-danger" type="submit" value="Si" />
    </div>
}

