@model Pharmaweb.Models.PagedList<Pharmaweb.Models.IngresoProductoModels>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterInventario.cshtml";
}

<h1>Ingreso Producto</h1>
<div class="well">
    @using (Html.BeginForm("Index", null, FormMethod.Post))
    {
        <div class="row">
            <div class="col-sm-4">
                <div class="input-group">
                    <input type="text"
                            name="filter"
                            value="@ViewBag.filter"
                            class="form-control"
                            style="display: inline"
                            placeholder="Buscar"
                            id="txtProducto" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Buscar</button>
                    </span>
                </div>
            </div>
            <div class="pull-right col-lg-2">
                <a class="btn btn-success" data-modal="" href="~/IngresoProducto/Create" id="btnCreate">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;<span>Nuevo Registro</span>
                </a>
            </div>
        </div>

        <div style="margin-top:17px;">
            @{
        WebGrid grid = new WebGrid(rowsPerPage: Model.PageSize, defaultSort: "NombreLaboratorio", ajaxUpdateContainerId: "container-grid", canPage: true, canSort: true);
        grid.Bind(Model.Content, autoSortAndPage: false, rowCount: Model.TotalRecords);
        grid.Pager(WebGridPagerModes.All);
        <div id="container-grid">
            @grid.GetHtml(htmlAttributes: new { id = "grid" },   // id for ajaxUpdateContainerId parameter
                    fillEmptyRows: false,
                    alternatingRowStyle: "alternate-row",
                    headerStyle: "grid-header",
                    footerStyle: "grid-footer",
                    mode: WebGridPagerModes.All,
                    firstText: "<< First",
                    previousText: "< Prev",
                    nextText: "Next >",
                    lastText: "Last >>",
                    tableStyle: "table table-bordered table-hover",

                    columns: grid.Columns(
                     grid.Column("NombreSucursal", header: "Nombre Sucursal"),
                     grid.Column("NombreLaboratorio", header: "Nombre Laboratorio"),
                     grid.Column("CatTipoIngreso", header: "Tipo Ingreso"),
                     grid.Column("NroFactura", header: "Nro. Factura"),
                     grid.Column("Observacion", header: "Observacion"),
                     grid.Column("FechaCreacion", header: "Fecha Creacion"),
                     grid.Column(header: "Acciones", canSort: false, style: "action",
                      format: @<text>
                        @Html.ActionLink(" ", "Details", "IngresoProducto", new { id = item.IngresoProductoId }, new { data_modal = "", @class = "glyphicon glyphicon-search" })
                        @Html.ActionLink(" ", "Edit", "IngresoProducto", new { id = item.IngresoProductoId }, new { data_modal = "", @class = "glyphicon glyphicon-edit" })
                        @Html.ActionLink(" ", "Delete", "IngresoProducto", new { id = item.IngresoProductoId }, new { data_modal = "", @class = "glyphicon glyphicon-trash" })
                    </text>)
                                                                               ))
        </div>
            }

        </div>
    }
</div>

<div id='myModal' class='modal fade in'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>