@model Pharmaweb.Models.ProductoModels

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">Editar</h4>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ProductoId)
    @Html.HiddenFor(m => m.UsuarioCreacion)
    @Html.HiddenFor(m => m.FechaCreacion)

    <div class="modal-body">
        <div class="form-horizontal">

            <div class="form-group">
                @Html.LabelFor(m => Model.LaboratorioId, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.DropDownListFor(m => m.LaboratorioId, Model.lstLaboratorio, "-- Seleccionar --", new { @class = "form-control required", @id = "ddlLaboratorio" })
                    <div>
                        @Html.ValidationMessageFor(m => m.LaboratorioId)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => Model.LineaId, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.DropDownListFor(m => m.LineaId, Model.lstLinea, "-- Seleccionar --", new { @class = "form-control required", @id = "ddlLinea" })
                    <div>
                        @Html.ValidationMessageFor(m => m.LineaId)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => Model.NombreProducto, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.NombreProducto, new { @class = "form-control required" })
                    <div>
                        @Html.ValidationMessageFor(m => m.NombreProducto)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => Model.CatTipo, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.DropDownListFor(m => m.CatTipo, Model.lstCatTipo, new { @class = "form-control required" })
                    <div>
                        @Html.ValidationMessageFor(m => m.CatTipo)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => Model.UnidadesPorPaquete, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.UnidadesPorPaquete, new { @class = "form-control required" })
                    <div>
                        @Html.ValidationMessageFor(m => m.UnidadesPorPaquete)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => Model.GeneroId, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.DropDownListFor(m => m.GeneroId, Model.lstGenero, new { @class = "form-control required" })
                    <div>
                        @Html.ValidationMessageFor(m => m.GeneroId)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => Model.PrincipioActivoId, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.DropDownListFor(m => m.PrincipioActivoId, Model.lstPrincipioActivo, new { @class = "form-control required" })
                    <div>
                        @Html.ValidationMessageFor(m => m.PrincipioActivoId)
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <span id="progress" class="text-center" style="display: none;">
            <img src="/images/wait.gif" alt="wait" />
            Procesando..
        </span>

        <input class="btn btn-success" type="submit" value="Guardar" />
        <button class="btn btn-warning" data-dismiss="modal">Cancelar</button>
    </div>
}

<script type="text/javascript">

    $(document).ready(function () {
        $("#ddlLaboratorio").change(function () {
            var idModel = "" + $(this).val();
            $.getJSON("PrecioProducto/GetLineas", { id: idModel },
            function (result) {
                var select = $("#ddlLinea");
                select.empty();
                $.each(result, function (index, obj) {

                    select.append($('<option/>', {
                        value: obj.Value,
                        text: obj.Text
                    }));
                });
            });
        });
    });
</script>