@model Pharmaweb.Models.PrincipioActivoModels

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">Detalle</h4>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.PrincipioActivoId)

    <div class="modal-body">
        <div class="form-horizontal">

            <div class="form-group">
                @Html.LabelFor(m => Model.NombrePrincipioActivo, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.NombrePrincipioActivo, new { @class = "form-control required", @disabled = "disabled" })
                    <div>
                        @Html.ValidationMessageFor(m => m.NombrePrincipioActivo)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">Cerrar</button>
    </div>
}

@*@Scripts.Render("~/Scripts/modal-generico.js")*@