@model Pharmaweb.Models.PagedList<Pharmaweb.Models.PrincipioActivoModels>
@{
    ViewBag.Title = "Principio Activo";
    Layout = "~/Views/Shared/_MasterProducto.cshtml";
}

<h1>Principio Activo</h1>
<div class="well">
    @using (Html.BeginForm("Index", null, FormMethod.Post))
    {
        <div class="row">
            <div class="col-sm-4">
                <div class="input-group">
                    <input type="text"
                            name="filter"
                            value="@ViewBag.filter"
                            class="form-control"
                            style="display: inline"
                            placeholder="Buscar Principio Activo"
                            id="txtProducto" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Buscar</button>
                    </span>
                </div>
            </div>
            <div class="pull-right col-lg-2">
                <a class="btn btn-success" data-modal="" href="~/PrincipioActivo/Create" id="btnCreate">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;<span>Nuevo Registro</span>
                </a>
            </div>
        </div>

        <div style="margin-top:17px;">
            @{
                var grid = new WebGrid(
                                        canPage: true,
                                        rowsPerPage: Model.PageSize,
                                        canSort: true,
                                        ajaxUpdateContainerId: "grid");

                grid.Bind(Model.Content, rowCount: Model.TotalRecords, autoSortAndPage: false);
                grid.Pager(WebGridPagerModes.All);

                @grid.GetHtml(htmlAttributes: new { id = "grid" },   // id for ajaxUpdateContainerId parameter
                            fillEmptyRows: false,
                            tableStyle: "table table-bordered table-hover",
                            mode: WebGridPagerModes.All,
                            columns: grid.Columns(
                                grid.Column("NombrePrincipioActivo", header: "Principio Activo"),
                                grid.Column(header: "Acciones", canSort: false, style: "action",
                                    format: @<text>
                                        @Html.ActionLink(" ", "Details", "PrincipioActivo", new { id = item.PrincipioActivoId }, new { data_modal = "", @class = "glyphicon glyphicon-search" })
                                        @Html.ActionLink(" ", "Edit", "PrincipioActivo", new { id = item.PrincipioActivoId }, new { data_modal = "", @class = "glyphicon glyphicon-edit" })
                                        @Html.ActionLink(" ", "Delete", "PrincipioActivo", new { id = item.PrincipioActivoId }, new { data_modal = "", @class = "glyphicon glyphicon-trash" })
                                    </text>)
                            ));
            }

        </div>
    }
</div>

<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
@*@Scripts.Render("~/Scripts/modal-generico.js")*@